@import 'tailwindcss';

@theme {
    --color-surface: var(--mat-sys-surface);
    --color-on-surface: var(--mat-sys-on-surface);
    --color-primary: var(--mat-sys-primary);
    --color-on-primary: var(--mat-sys-on-primary);
    --color-primary-container: var(--mat-sys-primary-container);
    --color-on-primary-container: var(--mat-sys-on-primary-container);
    --color-secondary: var(--mat-sys-secondary);
    --color-on-secondary: var(--mat-sys-on-secondary);
    --color-tertiary: var(--mat-sys-tertiary);
    --color-on-tertiary: var(--mat-sys-on-tertiary);
    --color-surface-variant: var(--mat-sys-surface-variant);
    --color-on-surface-variant: var(--mat-sys-on-surface-variant);
    --color-outline: var(--mat-sys-outline);
    --color-error: var(--mat-sys-error);
    --color-on-error: var(--mat-sys-on-error);
}

